{{!-- Search bar --}}
<form action="/search">
  <div id="search-bar" class="input-group rounded-pill mt-4 ml-5">
    <select class="custom-select" id="search-bar-category-option" disabled>
      <option value="">篩選類別</option>
      <option value="1">日本料理</option>
      <option value="2">義式餐廳</option>
      <option value="3">中東料理</option>
    </select>
    <input id="search-bar-input" type="text" name="keyword" class="form-control" placeholder="輸入餐廳名稱"
      aria-label="Restaurant Name or Category..." value="{{ keyword }}" aria-describedby="search-button">
    <div class="input-group-append" id="search-button-container">
      <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search text-dark"></i></button>
    </div>
  </div>
</form>

{{!-- restaurant list --}}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto d-flex justify-content-center">
      {{#if restaurs}}
        <div class="card-columns">
          {{#each restaurs}}
            <a href="/restaurants/{{ this._id }}" class="text-secondary">
              <div class="card mb-3">
                <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}"
                  onerror="this.src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg'">
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{ this.name }}</h6>

                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i> {{ this.category }}
                  </div>

                  <span class="badge badge-pill badge-danger font-weight-normal">
                    {{ this.rating }}
                    <i class="fas fa-star fa-xs"></i>
                  </span>

                  <div class="d-flex justify-content-around">
                    <a href="/restaurants/{{ this._id }}">
                      <i class="fas fa-info-circle index-icon"></i>
                    </a>
                    <a href="/restaurants/{{ this._id }}/edit">
                      <i class="fas fa-edit index-icon"></i>
                    </a>
                    <form action="/restaurants/{{ this._id }}/delete?_method=DELETE" method="POST"
                      onsubmit="return confirm('確定要刪除{{ this.name }}嗎？')">
                      <button type="submit" class="btn-delete">
                        <i class="fas fa-trash-alt index-icon"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </a>
          {{/each}}
        </div>
      {{else}}
        <div class="d-flex justify-content-center align-items-center p-2">
          {{#unless search}}
            <p class="message text-dark">Add your first favorite restaurant !</p>
          {{else}}
            <p class="message text-dark">You haven't add "{{ keyword }}" to your list, add it now !</p>
          {{/unless}}
        </div>
      {{/if}}

    </div>
  </div>
</div>
